// font-face @production url: https://cdn.rawgit.com/spoqa/spoqa-han-sans/01ff0283/Subset/SpoqaHanSans
@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 700;
  src: local('Spoqa Han Sans Bold'),
  url('../fonts/SpoqaHanSansBold.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansBold.woff') format('woff'),
  url('../fonts/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
  src: local('Spoqa Han Sans Regular'),
  url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansRegular.woff') format('woff'),
  url('../fonts/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 300;
  src: local('Spoqa Han Sans Light'),
  url('../fonts/SpoqaHanSansLight.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansLight.woff') format('woff'),
  url('../fonts/SpoqaHanSansLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans';
  font-weight: 100;
  src: local('Spoqa Han Sans Thin'),
  url('../fonts/SpoqaHanSansThin.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansThin.woff') format('woff'),
  url('../fonts/SpoqaHanSansThin.ttf') format('truetype');
}

* { font-family: 'Spoqa Han Sans', 'Sans-serif'; }

:root {
  --black: #000000;
  --off-yellow: #ffe836;
  --slate-grey: #4e5366;
  --yellow-orange: #e9af00;
  --greyish-brown: #4a4a4a;
  --brownish-grey: #666666;
  --brownish-grey-two: #757575;
  --brownish-grey-three: #6d6d6d;
  --brown-grey: #9b9b9b;
  --very-light-pink: #bbbbbb;
  --very-light-pink-five: #f2f2f2;
  --charcoal-grey: #323547;
  --brown-grey-two: #979797;
  --brown-grey-three: #8c8c8c;
  --very-light-pink-four: #d9d9d9;
  --scarlet: #d0021b;
  --salmon: #f18681;
  --very-light-pink-three: #fdeded;
  --white: #fbfbfb;
  --white-two: #ffffff;
  --very-light-pink-two: #d8d8d8;
  --dandelion-90: rgba(255, 224, 11, .9);
}

#app {
  // btn
  .smb-btn {
    margin: 0;
    min-width: 80px;
    height: 44px;
    font-size: 14px;
    color: var(--white-two);
    border-radius: 3px;
    background-color: var(--slate-grey);
    &.v-btn--small {
      min-width: 68px;
      height: 28px;
      line-height: 28px;
      font-size: 13px;
    }
  }
  .smb-input {
    &.v-input--selection-controls {
      padding-top: 0;
      margin-top: 0;
    }
    .v-input__slot {
      margin-bottom: 0;
      .v-label {
        font-size: 14px;
      }
    }
    .v-messages {
      min-height: 0;
    }
    .v-text-field__details {
      min-height: 0;
    }
  }
  .smb-radio {
    .v-input__slot {
      margin-bottom: 0;
    }
    .v-messages {
      min-height: 0;
    }
    &.three {
      .v-radio {
        flex: 1 33%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    .v-radio {
      margin-bottom: 0;
    }
  }
  .smb-round {
    margin-top: -10px;
    .v-radio {
      flex: 1 33%;
      margin-right: 0;
      margin-top: 10px;
    }
    .v-messages {
      min-height: 0;
    }
    .v-input__slot {
      margin-bottom: 0;
    }
  }
  .smb-textarea {
    .v-messages {
      min-height: 0;
    }
    .v-input__slot {
      margin-bottom: 0;
    }
  }
  .smb-template {
    height: 90px;
    background-color: var(--very-light-pink-two);
    font-size: 12px;
    font-weight: 800;
    color: var(--white-two);
  }
  .page-lay {
    margin: 0 -20px;
    &.fixed {
      margin: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  .page-btn {
    width: 100%;
    height: 60px;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    font-weight: 800;
    font-size: 16px;
    background-color: var(--off-yellow);
    &.grey {
      color: var(--white-two) !important;
      background-color: var(--slate-grey) !important;
    }
    &.v-btn--disabled {
      color: rgba(0, 0, 0, .26) !important;
      background-color: rgba(0, 0, 0, .12) !important;
    }
  }
  .tip {
    font-size: 12px;
    color: var(--brownish-grey);
    .scar {
      color: var(--scarlet);
    }
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .p-0 {
    padding: 0;
  }
  .pt-20 {
    padding-top: 20px;
  }
  .pb-20 {
    padding-bottom: 20px;
  }
  .smb-title {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
    color: var(--charcoal-grey);
    margin-bottom: 0;
  }
  .smb-text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--greyish-brown);
    margin-bottom: 0;
  }
  .smb-txt {
    font-size: 12px;
    line-height: 20px;
    color: var(--brownish-grey);
  }
  .bm1 {
    border-bottom: solid 1px var(--very-light-pink-four);
  }
  .v-tabs__item {
    color: var(--off-yellow);
  }
  .filter-box {
    height: 60px;
    padding: 0 20px;
    background-color: var(--charcoal-grey);
    .v-btn {
      margin: 0;
      height: 40px;
      line-height: 38px;
      font-weight: 800;
      font-size: 14px;
      box-sizing: border-box;
      box-shadow: none;
      border-radius: 0;
      border: solid 1px var(--brown-grey-two);
      flex: 1 auto;
      &:first-child {
        border-radius: 2px 0 0 2px;
      }
      &:last-child {
        border-radius: 0 2px 2px 0;
      }
      &.active {
        color: var(--white-two);
        background-color: transparent !important;
      }
    }
  }
  .smb-carousel {
    height: 360px;
    box-shadow: none;
    .v-carousel__controls {
      background-color: transparent;
      .v-btn__content {
        color: var(--brown-grey);
      }
      &.v-carousel__controls__item--active {
        .v-btn__content {
          opacity: 0.8;
          border: solid 1px var(--brown-grey);
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .v-toolbar__title {
    margin-left: 0;
    font-size: 18px;
    font-weight: 800;
  }
}