// aside
.smb-aside {
  .drawer-header {
    height: 162px;
    background-color: #ffe836;
    padding: 20px;
    .drawer-logo {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
    .drawer-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
      color: var(--black);
    }
  }
  .menu-list {
    .list-item {
      &.active {
        background-color: var(--very-light-pink-five);
      }
      .v-list__tile {
        height: 60px;
        padding: 0 20px;
        font-size: 16px;
        color: var(--black) !important;
      }
    }
  }
}

// header
.smb-header {
  &.main {
    box-shadow: none;
    // background-color: transparent;
    background-color: var(--off-yellow);
  }
  .header-toolbar {
    .v-btn {
      min-width: auto;
      padding: 0 7px 0 8px;
      &:last-child {
        padding-left: 4px;
      }
      &:before {
        background-color: transparent !important;
      }
      .v-btn__content {
        > img {
          margin-right: 2px;
        }
      }
    }
  }
}
@media only screen and (max-width: 959px) {
  .v-toolbar__content,
  .v-toolbar__extension {
    padding: 0 8px 0 18px;
  }
}
.main-header {
  height: 284px;
  padding: 20px;
  background-color: var(--off-yellow);
  .main-title {
    margin-top: 16px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 800;
    color: var(--black);
  }
  .main-menu {
    margin-top: 29px;
    .menu-item {
      width: 92px;
      height: 100px;
      text-align: center;
      text-decoration: none;
      background-color: var(--white-two);
      .item-img {
        width: 26px;
        height: 26px;
        margin: 29px auto 0 auto;
      }
      .item-title {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        color: var(--yellow-orange);
      }
    }
  }
}

// dialog
.v-dialog {
  margin: 10px;
  border-radius: 6px;
}
.smb-dialog {
  .v-toolbar {
    background-color: var(--off-yellow) !important;
    .v-toolbar__title {
      font-size: 16px;
      font-weight: 800;
      color: var(--black);
      flex: 1;
      text-align: center;
    }
    .v-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px 5px 0 0;
      .v-icon {
        color: var(--black);
      }
    }
  }
  .v-card__text {
    padding: 10px;
  }
}
.dialog-content {
  padding: 10px;
  background-color: var(--white-two);
  .share-box {
    padding: 20px;
    border-radius: 6px;
    border: solid 1px var(--very-light-pink-four);
    .share-cont {
      margin: -20px -40px 0 -20px;
      .share-item {
        width: 80px;
        margin: 20px 20px 0 0;
        line-height: 0;
        text-align: center;
        text-decoration: none;
        .item-img {
          display: inline-block;
          width: 60px;
          height: 60px;
        }
        .item-title {
          font-size: 12px;
          line-height: 18px;
          font-weight: 800;
          color: var(--greyish-brown);
          margin-top: 8px;
          margin-bottom: 4px;
        }
      }
    }
    .share-list {
      margin-top: 20px;
      padding: 16px 0 0 0;
      border-top: 1px solid var(--very-light-pink-two);
      .v-list__tile {
        padding: 0;
        height: 44px;
        .v-list__tile__title {
          font-size: 14px;
          font-weight: 800;
          color: var(--brownish-grey-three);
        }
        .v-btn {
          min-width: 80px;
          height: 44px;
          font-size: 14px;
          color: var(--white-two);
          border-radius: 3px;
          background-color: var(--slate-grey);
        }
      }
    }
  }
}

// main
.main-list {
  min-height: 110px;
  background-color: var(--charcoal-grey);
  border-top: 1px solid var(--slate-grey);
  &:first-child {
    border-top: 0;
  }
  .v-list__tile {
    padding: 0 20px;
    height: auto;
    min-height: 110px;
    .list-title {
      line-height: 24px;
      font-size: 18px;
      letter-spacing: -0.5px;
      color: var(--white-two);
    }
  }
  .list-avatar {
    font-size: 14px;
    font-weight: 800;
    max-width: 92px;
    height: 20px;
    padding: 0 14px 0 0;
    color: var(--off-yellow);
    position: relative;
    .v-icon {
      width: 8px;
      height: 12px;
      position: absolute;
      top: 5px;
      right: 0;
      color: var(--off-yellow);
    }
  }
  .list-reser {
    margin: 20px 0;
    color: var(--white-two);
  }
  .list-card {
    width: 100%;
    min-height: 100px;
    border-radius: 6px;
    background-color: var(--off-yellow);
    color: var(--greyish-brown);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    .card-avatar {
      width: 62px;
      margin: 19px 0 0 20px;
      height: 22px;
      font-size: 12px;
      font-weight: 800;
      line-height: 22px;
      vertical-align: top;
      > img {
        margin-right: 4px;
        vertical-align: top;
      }
    }
    .card-content {
      flex: 1;
      margin-left: 4px;
      .card-title {
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        font-weight: 800;
      }
      .card-subtitle {
        font-size: 12px;
        line-height: 18px;
        position: relative;
        padding-right: 37px;
        .v-icon {
          width: 8px;
          height: 12px;
          position: absolute;
          right: 19px;
          top: 50%;
          margin-top: -6px;
        }
      }
      .card-state {
        font-size: 14px;
        font-weight: 800;
        margin-top: 2px;
        line-height: 20px;
        color: var(--black);
      }
    }
  }
}

// footer
.smb-footer {
  &.theme--light {
    height: 80px;
    background-color: #f4f4f6;
    .footer-text {
      flex: 1;
      height: 18px;
      font-size: 12px;
      margin: 0;
      color: var(--brown-grey-three);
    }
    .footer-copy {
      flex: 1;
      height: 15px;
      font-size: 10px;
      margin: 9px 0 0 0;
      color: var(--brown-grey-three);
    }
  }
}