// aside
.smb-aside {
  .drawer-header {
    height: 162px;
    background-color: #ffe836;
    padding: 20px;
    .drawer-logo {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-bottom: 10px;
    }
    .drawer-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 32px;
      color: var(--black);
    }
  }
  .menu-list {
    .list-item {
      &.active {
        background-color: var(--very-light-pink-five);
      }
      .v-list__tile {
        height: 60px;
        padding: 0 20px;
        font-size: 16px;
        color: var(--black) !important;
      }
    }
  }
}

// header
.smb-header {
  &.v-toolbar {
    background-color: var(--off-yellow);
  }
  &.main {
    box-shadow: none;
    // background-color: transparent;
  }
  .header-toolbar {
    .v-btn {
      min-width: auto;
      padding: 0 7px 0 8px;
      &:last-child {
        padding-left: 4px;
      }
      &:before {
        background-color: transparent !important;
      }
      .v-btn__content {
        > img {
          margin-right: 2px;
        }
      }
    }
  }
}
@media only screen and (max-width: 959px) {
  .v-toolbar__content,
  .v-toolbar__extension {
    padding: 0 8px 0 18px;
  }
}
.main-header {
  height: 284px;
  padding: 20px;
  background-color: var(--off-yellow);
  .main-title {
    margin-top: 16px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 800;
    color: var(--black);
  }
  .main-menu {
    margin-top: 29px;
    .menu-item {
      width: 92px;
      height: 100px;
      text-align: center;
      text-decoration: none;
      background-color: var(--white-two);
      .item-img {
        width: 26px;
        height: 26px;
        margin: 29px auto 0 auto;
      }
      .item-title {
        margin-top: 3px;
        font-size: 14px;
        font-weight: 800;
        line-height: 20px;
        color: var(--yellow-orange);
      }
    }
  }
}

// dialog
.v-dialog {
  margin: 10px;
  border-radius: 6px;
  &.v-dialog--fullscreen {
    margin: 0;
    border-radius: 0;
  }
}
.smb-fulldialog {
  position: relative;
  .v-toolbar {
    box-shadow: none;
    background-color: var(--off-yellow) !important;
    .v-toolbar__title {
      font-size: 16px;
      font-weight: 800;
      color: var(--black);
      margin-left: 0;
    }
    .v-btn {
      color: #000;
    }
  }
}
.full-standby-title {
  padding: 10px 20px;
  min-height: 90px;
  background-color: var(--charcoal-grey);
  position: relative;
  .flex {
    font-size: 16px;
    font-weight: 800;
    color: var(--white-two);
    text-align: center;
    &.normal {
      font-weight: 400;
    }
    p {
      font-size: 18px;
      font-weight: 800;
      color: var(--white-two);
      margin-bottom: 0;
    }
  }
}
.full-dialog-content {
  padding: 20px;
  .preview-box {
    min-height: 70px;
    border-radius: 6px;
    padding: 0 20px;
    border: solid 1px var(--very-light-pink-four);
    .preview-title {
      height: 18px;
      font-size: 12px;
      font-weight: 800;
      color: var(--very-light-pink);
    }
    .preview-value {
      line-height: 36px;
      font-size: 24px;
      font-weight: 800;
      color: var(--salmon);
      text-align: right;
    }
  }
  .preview-text {
    line-height: 18px;
    font-size: 12px;
    color: var(--brownish-grey);
    margin: 10px 0 20px 0;
  }
}
.full-standby-payment {
  background-color: var(--charcoal-grey);
  position: relative;
  .payment-info {
    margin: 0 20px 30px 20px;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--white-two);
    .flex {
      font-size: 16px;
      color: var(--black);
      &:nth-child(even) {
        font-size: 12px;
        height: 18px;
        font-size: 12px;
        color: var(--very-light-pink);
        margin-top: 1px;
      }
      &.bold {
        font-weight: 800;
      }
    }
  }
}
.smb-dialog {
  position: relative;
  .v-toolbar {
    background-color: var(--off-yellow) !important;
    .v-toolbar__title {
      font-size: 16px;
      font-weight: 800;
      color: var(--black);
      flex: 1;
      text-align: center;
    }
    .v-btn {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px 5px 0 0;
      .v-icon {
        color: var(--black);
      }
    }
  }
  .v-card__text {
    padding: 10px;
  }
}
.dialog-content {
  padding: 10px;
  background-color: var(--white-two);
  .notice-title {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--greyish-brown);
    text-align: center;
  }
  .share-box {
    padding: 20px;
    border-radius: 6px;
    border: solid 1px var(--very-light-pink-four);
    .share-cont {
      margin: -20px -40px 0 -20px;
      .share-item {
        width: 80px;
        margin: 20px 20px 0 0;
        line-height: 0;
        text-align: center;
        text-decoration: none;
        .item-img {
          display: inline-block;
          width: 60px;
          height: 60px;
        }
        .item-title {
          font-size: 12px;
          line-height: 18px;
          font-weight: 800;
          color: var(--greyish-brown);
          margin-top: 8px;
          margin-bottom: 4px;
        }
      }
    }
    .share-list {
      margin-top: 20px;
      padding: 16px 0 0 0;
      border-top: 1px solid var(--very-light-pink-two);
      .v-list__tile {
        padding: 0;
        height: 44px;
        .v-list__tile__title {
          font-size: 14px;
          font-weight: 800;
          color: var(--brownish-grey-three);
        }
      }
    }
    .waiting-title {
      font-size: 18px;
      line-height: 27px;
      font-weight: 800;
      text-align: center;
      color: var(--very-light-pink);
    }
    .waiting-number {
      font-size: 120px;
      line-height: 110px;
      text-align: center;
      color: var(--black);
    }
    .waiting-cont {
      border-top: solid 1px var(--very-light-pink-four);
      padding: 20px 0;
      margin-top: 20px;
      text-align: center;
      .wai-tit {
        font-size: 12px;
        line-height: 18px;
        font-weight: 800;
        color: var(--very-light-pink);
      }
      .wai-team {
        font-size: 24px;
        line-height: 36px;
        font-weight: 800;
        margin-top: 8px;
        color: var(--black);
      }
      .wai-date {
        font-size: 24px;
        line-height: 36px;
        font-weight: 800;
        margin-top: 8px;
        color: var(--salmon);
      }
    }
    .info-dt {
      line-height: 24px;
      font-size: 16px;
      font-weight: 800;
      color: var(--black);
      &.normal {
        font-weight: normal;
      }
    }
    .info-dd {
      height: 18px;
      line-height: 18px;
      font-size: 12px;
      color: var(--very-light-pink);
      text-align: right;
    }
    .order-cont {
      margin-top: 14px;
      padding-top: 13px;
      border-top: 1px solid var(--very-light-pink-two);
      .order-title {
        font-size: 12px;
        line-height: 18px;
        font-weight: 800;
        color: var(--black);
      }
      .order-label {
        line-height: 18px;
        font-size: 12px;
        color: var(--black);
      }
      .order-length {
        line-height: 18px;
        font-size: 12px;
        color: var(--black);
        text-align: right;
      }
      .order-price {
        width: 100%;
        line-height: 18px;
        font-size: 12px;
        color: var(--black);
        text-align: right;
      }
    }
    .receipt-title {
      line-height: 27px;
      font-size: 18px;
      font-weight: 800;
      color: var(--black);
      text-align: center;
      &.regular {
        font-weight: normal;
        font-size: 16px;
      }
    }
    .receipt-cont {
      margin-top: 20px;
      border-top: solid 1px var(--very-light-pink-four);
      padding-top: 10px;
      &.normal {
        border-top: 0;
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: solid 1px var(--very-light-pink-four);
      }
    }
    .basic-table {
      margin-top: 10px;
      thead {
        tr {
          height: 26px;
        }
        th {
          line-height: 18px;
          padding: 4px 0;
          margin: 0;
          border-top: solid 1px var(--very-light-pink-four);
        }
      }
      tbody {
        tr {
          border-bottom: 0;
        }
        td {
          padding: 10px 0;
        }
      }
      tfoot {
        tr {
          height: auto;
          border-top: 0;
          border-bottom: solid 1px var(--very-light-pink-four);
        }
        td {
          padding: 10px 0;
          font-size: 12px;
          line-height: 18px;
          font-weight: 800;
          color: var(--black);
        }
      }
    }
    .receipt-box {
      margin: 20px 0;
      line-height: 0;
      .qr-img {
        text-align: center;
      }
      .qr-code {
        font-size: 12px;
        line-height: 18px;
        color: var(--black);
        text-align: center;
      }
    }
  }
}

// main
.main-list {
  min-height: 110px;
  background-color: var(--charcoal-grey);
  border-top: 1px solid var(--slate-grey);
  &:first-child {
    border-top: 0;
  }
  .v-list__tile {
    padding: 0 20px;
    height: auto;
    min-height: 110px;
    .list-title {
      line-height: 24px;
      font-size: 18px;
      letter-spacing: -0.5px;
      color: var(--white-two);
    }
  }
  .list-avatar {
    font-size: 14px;
    font-weight: 800;
    max-width: 92px;
    height: 20px;
    padding: 0 14px 0 0;
    color: var(--off-yellow);
    position: relative;
    .v-icon {
      width: 8px;
      height: 12px;
      position: absolute;
      top: 5px;
      right: 0;
      color: var(--off-yellow);
    }
  }
  .list-reser {
    margin: 20px 0;
    color: var(--white-two);
  }
  .list-card {
    width: 100%;
    min-height: 100px;
    border-radius: 6px;
    background-color: var(--off-yellow);
    color: var(--greyish-brown);
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    .card-avatar {
      width: 62px;
      margin: 19px 0 0 20px;
      height: 22px;
      font-size: 12px;
      font-weight: 800;
      line-height: 22px;
      vertical-align: top;
      > img {
        margin-right: 4px;
        vertical-align: top;
      }
    }
    .card-content {
      flex: 1;
      margin-left: 4px;
      .card-title {
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        font-weight: 800;
      }
      .card-subtitle {
        font-size: 12px;
        line-height: 18px;
        position: relative;
        padding-right: 37px;
        .v-icon {
          width: 8px;
          height: 12px;
          position: absolute;
          right: 19px;
          top: 50%;
          margin-top: -6px;
        }
      }
      .card-state {
        font-size: 14px;
        font-weight: 800;
        margin-top: 2px;
        line-height: 20px;
        color: var(--black);
      }
    }
  }
}

// reservation
.smb-step {
  height: 60px;
  padding: 0 20px;
  background-color: var(--black);
  color: var(--off-yellow);
  .step-title {
    height: 24px;
    font-weight: 800;
  }
  .layout {
    flex: 0 61px;
    .flex {
      width: 15px;
      line-height: 18px;
      text-align: center;
      color: var(--off-yellow);
      opacity: 0.5;
      font-weight: 800;
      font-size: 12px;
      margin-right: 8px;
      flex: 0 auto;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        width: 20px;
        line-height: 24px;
        opacity: 1;
        font-size: 16px;
      }
    }
  }
}

// smb-picker
.smb-picker {
  .v-picker__title {
    background-color: var(--charcoal-grey) !important;
    .v-picker__title__btn {
      opacity: 1;
    }
  }
}

// content
.v-content {
  background-color: var(--white);
}
.content {
  padding: 20px 20px 0 20px;
  margin-top: 56px;
}
.content-top {
  margin-top: 56px;
}

// standby
.standby-box {
  border-radius: 6px;
  border: solid 1px var(--very-light-pink-four);
  background-color: var(--white-two);
  padding: 20px;
  margin-bottom: 20px;
  .standby-title {
    font-size: 18px;
    line-height: 27px;
    font-weight: 800;
    color: var(--very-light-pink);
    text-align: center;
  }
  .waiting-number {
    font-size: 120px;
    line-height: 110px;
    text-align: center;
    color: var(--black);
  }
  .standby-text {
    font-size: 18px;
    color: var(--greyish-brown);
    font-weight: 800;
    border-top: 1px solid var(--very-light-pink-two);
    text-align: center;
    padding: 22px 0 26px 0;
    margin-top: 30px;
  }
  .waiting-cont {
    border-top: solid 1px var(--very-light-pink-four);
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    .wai-tit {
      font-size: 12px;
      line-height: 18px;
      font-weight: 800;
      color: var(--very-light-pink);
    }
    .wai-team {
      font-size: 24px;
      line-height: 36px;
      font-weight: 800;
      margin-top: 8px;
      color: var(--black);
    }
    .wai-date {
      font-size: 24px;
      line-height: 36px;
      font-weight: 800;
      margin-top: 8px;
      color: var(--salmon);
    }
  }
}
.standby-list {
  padding: 0;
  background: transparent !important;
  .v-list__tile__content {
    justify-content: center;
    border-radius: 6px;
    border: solid 1px var(--very-light-pink-four);
    background-color: var(--white-two);
    padding: 0 20px;
    min-height: 80px;
    margin-bottom: 10px;
    background: url('/static/icons/standby-link.svg') no-repeat right 10px center;
    .v-list__tile__title {
      font-size: 16px;
      font-weight: 800;
      color: var(--greyish-brown);
    }
    .v-list__tile__sub-title {
      font-size: 12px;
      line-height: 18px;
      color: var(--greyish-brown);
    }
  }
}
.goods-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: var(--charcoal-grey);
  text-align: center;
}
.goods-text {
  font-size: 14px;
  line-height: 20px;
  color: var(--greyish-brown);
  text-align: center;
  margin-bottom: 20px;
}

// reservation
.reser-title {
  line-height: 18px;
  font-size: 12px;
  font-weight: 800;
  color: var(--very-light-pink);
  margin: 20px 0 10px 0;
}

// payment
.payment {
  .payment-box {
    margin-top: 10px;
    padding: 20px;
    border-radius: 6px;
    border: solid 1px var(--very-light-pink-four);
    .payment-title {
      padding-bottom: 20px;
      font-size: 18px;
      font-weight: 800;
      color: var(--greyish-brown);
      text-align: center;
      border-bottom: 1px solid var(--very-light-pink-two);
    }
    .payment-price {
      padding: 6px 0;
      border-bottom: 1px solid var(--very-light-pink-two);
      .tit {
        line-height: 18px;
        font-size: 12px;
        font-weight: 800;
        color: var(--very-light-pink);
        margin-bottom: 4px;
      }
      .value {
        line-height: 36px;
        font-size: 24px;
        font-weight: 800;
        text-align: right;
        color: var(--salmon);
      }
    }
    .payment-refund {
      padding-top: 15px;
      .value {
        text-align: right;
      }
    }
  }
}

// footer
.smb-footer {
  &.theme--light {
    height: 80px;
    background-color: #f4f4f6;
    .footer-text {
      flex: 1;
      height: 18px;
      font-size: 12px;
      margin: 0;
      color: var(--brown-grey-three);
    }
    .footer-copy {
      flex: 1;
      height: 15px;
      font-size: 10px;
      margin: 9px 0 0 0;
      color: var(--brown-grey-three);
    }
  }
}